<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Sql" connectionString="Data Source=85.29.128.138;Initial Catalog=AF_Exam; User ID=sa;Password=Shag1115;"></add>
    
   <add name="Oldb"  connectionString="Provider=SQLOLEDB; Server=85.29.128.138; Database=AF_Exam;Uid=sa;Pwd=Shag1115; "></add>
    
 <add name="Odbc" connectionString="Driver={SQL Server Native Client 11.0};Server=85.29.128.138; Database=AF_Exam; Uid=sa;Pwd=Shag1115;"></add>
  </connectionStrings>
</configuration>